.vscode
*.class
*.o
*~
~*
*.pyc
__pycache__

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Java Package Files
*.jar
*.war
*.nar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# macOS
.DS_Store

# IntelliJ
.idea/
*.iml
out/
gen/

# ANTLR4 VSCode extension
.antlr/

# Class.g4 garbage
Class.interp
Class.tokens
ClassBaseListener.java
ClassBaseVisitor.java
ClassLexer.interp
ClassLexer.java
ClassLexer.tokens
ClassListener.java
ClassParser.java
ClassVisitor.java

# Elements.g4 garbage
Elements.interp
Elements.tokens
ElementsBaseListener.java
ElementsBaseVisitor.java
ElementsLexer.interp
ElementsLexer.java
ElementsLexer.tokens
ElementsListener.java
ElementsParser.java
ElementsVisitor.java

# pdraw.g4 garbage
pdraw.interp
pdraw.tokens
pdrawBaseListener.java
pdrawBaseVisitor.java
pdrawLexer.interp
pdrawLexer.java
pdrawLexer.tokens
pdrawListener.java
pdrawParser.java
pdrawVisitor.java
